# Thumbnails created by windows
Thumbs.db

# *shakefist* MacOS
.DS_Store

# Vim swapfiles
*.swp

# Bundle directory is managed by Vundle
bundle/

# Directories for backup/temp/undo files
backup/
temp/
undo/

.tags*
.ycm_extra_conf.pyc
